on property:sys.boot_completed=1
    exec_background -- /system/bin/sh /system/etc/unica/now_nudge_defaults.sh

on property:persist.sys.unica.now_nudge.apply=1
    exec_background -- /system/bin/sh /system/etc/unica/now_nudge_defaults.sh
    setprop persist.sys.unica.now_nudge.apply 0

on property:persist.sys.unica.now_nudge.replies_apply=1
    exec_background -- /system/bin/sh /system/etc/unica/now_nudge_defaults.sh apply_replies
    setprop persist.sys.unica.now_nudge.replies_apply 0
