<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rezoss.moseygmshook"
    android:versionCode="5"
    android:versionName="1.4">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:label="Mosey GMS Hook">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Optional LSPosed hooks for GMS and ShareLive ProtocolX testing; no native Mosey payload" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
